html
    head 
        meta(charset='utf-8')
        title 'Todo-List'
    body 
        h3 
            = prevContent 
        form(action='/update_list', method='post') 
            input(type='text' name='newContent')
            input(type='hidden' name='prevContent' value=prevContent)
            input(type='submit' name='수정하기')